@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pirata+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    scroll-behavior: smooth;
    font-family: 'Saira', sans-serif;
}